:root {
  --main-text-color: rgb(110, 109, 109);
  --main-btn-bg: rgba(0, 50, 0);
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: rgba(254, 255, 180, 0.26);
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
