:root {
  --bg-color-black: rgba(0, 0, 0);

  --text-color-white: rgba(255, 255, 255);
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: rgba(254, 255, 180, 0.26);
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  display: flex;
  background-color: var(--bg-color-black);
  color: var(--text-color-white);
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav {
  display: flex;

  padding: 1rem;
  min-width: 100%;
  align-items: center;
}

.nav-content {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav-right--content {
  width: 25%;
}
.nav-left--content {
  flex: 1;
  justify-content: flex-end;
}

.nav-left--content > button {
  margin-left: 1rem;
}
